[submodule ".vim/bundle/py.test"]
	path = .vim/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/makegreen"]
	path = .vim/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen.git
[submodule ".vim/bundle/pep8"]
	path = .vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "pylint-mode"]
	path = pylint-mode
	url = https://github.com/vim-scripts/pylint-mode.git
[submodule ".vim/bundle/pylint-mode"]
	path = .vim/bundle/pylint-mode
	url = https://github.com/vim-scripts/pylint-mode.git
[submodule ".vim/bundle/ropevim"]
	path = .vim/bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
